body {
font-family: 'Georgia'
}
* {
            margin: 0;
            padding: 0;
        }
        .banner {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
h1 {
  color:rgb(158, 16, 48);
  margin:1%;
}
.form-group {
width: 30%;
margin:1%;
}

.btn-danger {
  margin: 1%;
}
h5 {margin: 1%}
